<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AgilyPet</title>
</head>

<body>
    <div style="background-color: rgb(124, 185, 255); padding: 0.5em;">
        <h1 style="text-align: center;">AgilyPet</h1> 
    </div>
    <h2>Spoštovani,</h2>
    <div>
    <p >sporočamo Vam, da je {{avtor}} izdal nov agilni poligon za pse.</p>
    </div>
    <div>
        <p>Kliknite <a href="#">Link</a>, če želite obiskati nov poligon.</p>
    </div>
    <div>
        <p>Hvala,</p>
        <p>AgilyPet</p>
    </div>
    <footer style='padding: 0.5em; background-color: rgb(124, 185, 255);'>
        <p style="text-align: center;">
            Copyright &copy; 2022 AgilyPet
        </p>
        <p style="color: rgb(173, 173, 173); text-align: center;">
            Authors: Blazhe Manev, Kristina Ristova, Gregor Pojbič, Jan Lukač
        </p>
    </footer>
</body>

</html>