<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AgilyPet</title>
</head>

<body>
    <div style="background-color: rgb(184, 122, 0); padding: 0.5em;">
        <h1 style="text-align: center;">AgilyPet</h1> 
    </div>
    <h2>Hello,</h2>
    <div>
    <p >We are informing you, that a person that you follow has created a new course.</p>
    </div>
    <div>
        <p>Click <a href="#">this link</a>, if you would like to check out the new course.</p>
    </div>
    <div>
        <p>Thank you,</p>
        <p>AgilyPet</p>
    </div>
    <footer style='padding: 0.5em; background-color: rgb(184, 122, 0);'>
        <p style="text-align: center;">
            Copyright &copy; 2022 AgilyPet
        </p>
        <p style="color: rgb(173, 173, 173); text-align: center;">
            Authors: Blazhe Manev, Kristina Ristova, Gregor Pojbič, Jan Lukač
        </p>
    </footer>
</body>

</html>