.bg-orange {
  background-color: #b87a00;
}

.bg-orange_vsebina {
  background-color: #f5e6c2;
}

.pisava-white {
  color: #fff;
}

.mouse_over:hover {
  cursor: pointer;
  background-color: #a66f02;
}

.border_color {
  min-height: 100%;
  border: 2px solid #a66f02;
  border-radius: 1em;
  background-color: rgb(224, 224, 224);
  padding-top: 1em;
  padding-bottom: 1em;
}

.slika {
  border-radius: 1em;
}

.margin_reg {
  margin-top: 2em;
  margin-bottom: 2em;
}

.margin_top {
  margin-top: 2em;
}

.footer {
  margin-top: -50px;
}

.padding_top {
  padding-top: 2em;
}

.padding_bottom {
  padding-bottom: 2em;
}

.koledar{
  border:solid 1px rgb(0, 0, 0);
  width:800px;
  height:600px;
  border-radius: 1em;
}

.podatki{
  border-color: #a66f02;
  border-style: solid;
  border-width: 0.2em;
  border-radius: 1em;
  margin-top: 0.5em;
}

.slika_psa{
  max-width:100%;
  max-height:100%;
  border-radius: 4em;
  border-color: #a66f02;
  border-style: solid;
  border-width: 0.2em;
}