.bg-orange {
  background-color: #b87a00;
}

.pisava-white {
  color: #fff;
}

.mouse_over:hover {
  cursor: pointer;
  background-color: #a66f02;
}

.border_color {
  min-height: 100%;
  border: 2px solid #a66f02;
  border-radius: 1em;
  background-color: rgb(224, 224, 224);
  padding-top: 1em;
  padding-bottom: 1em;
}

.margin_reg {
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer {
  margin-top: -50px;
}